<% include ./partials/header2.ejs %>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <div class="right">
        <div class="content">
            <div class="stories">
                <span class="material-symbols-outlined" id="leftArrow">
                    chevron_right
                </span>
                <span class="material-symbols-outlined" id="rightArrow">
                    chevron_right
                </span>
                <div class="scrollable">
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                    <div class="item">
                        <div class="story"><img
                                src="https://img.freepik.com/free-vector/goddess-playing-musical-instrument-happy-saraswati_23-2148803281.jpg?w=740&t=st=1702310291~exp=1702310891~hmac=2957f5348a6e1dca87dc4ebb5deaeac646f1afefc4312b44b1dc452a472df4ac"
                                alt="">
                        </div>
                        <p>Souvik karmakar</p>
                    </div>
                </div>
            </div>
            <div class="feeds">
                <% posts.reverse().forEach(element=> {%>
                    <% if (user.posts.indexOf(element._id)==-1) {  %>
                        <% console.log(user._id); %>
                        <% console.log(element.user._id); %>
                        <div class="card" id="<%= element._id %>">
                            <header>
                                <div class="grp">
                                    <div class="dp">
                                        <img src="/uploads/<%= element.user.profilePicture %>" alt="">
                                    </div>
                                    <h2>
                                        <a href="/searched-id/<%=element.user._id %>">
                                            <%= element.user.username %>
                                        </a>
                                    </h2>
                                </div>
                                <div class="grp">
                                    <span class="material-symbols-outlined">
                                        more_horiz
                                    </span>
                                </div>
                            </header>
                            <div class="image">
                                <img src="/uploads/<%= element.post %>" alt="">
                                <i class='bx bxs-heart'></i>
                            </div>
                            <div class="like">
                                <div class="grp">
                                    <span style="text-decoration: none; font-size: clamp(20px,5vw,30px);">
                                        <a href="#" class="liked">
                                            <% if (element.likes.indexOf(user._id)===-1) {%>
                                                <i class='bx bx-heart'></i>
                                                <%}else { %>
                                                    <i class='bx bx-heart bxs-heart'></i>
                                                    <% } %>
                                        </a>
                                    </span>
                                    <span class="material-symbols-outlined">
                                        send
                                    </span>
                                    <span class="material-symbols-outlined">
                                        chat_bubble
                                    </span>
                                </div>
                                <span class="material-symbols-outlined">
                                    bookmark
                                </span>
                            </div>
                            <div class="comment">
                                <p><span class="likeCount">
                                        <%= element.likes.length %>
                                    </span> Likes</p>
                                <h3>
                                    <%= element.user.username %> <span id="caption">
                                            <%= element.caption %>
                                        </span>
                                </h3>

                            </div>
                        </div>
                        <% } %>
                            <% }); %>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
        integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.querySelectorAll('.feeds .card .image img').forEach((elem, index) => {
            elem.addEventListener('dblclick', (e) => {
                let t1 = gsap.timeline();
                // document.querySelector("likedIcon").classList.add('bxs-heart')
                var randomValue = Math.floor(Math.random() * 21) - 10;
                event.target.parentNode.nextElementSibling.querySelector(".grp span a i").classList.add('bxs-heart')
                const postId = event.target.parentNode.parentNode.id
                t1.to(e.target.nextElementSibling, {
                    scale: 1,
                    duration: .5,
                    rotate: randomValue,
                })
                console.log('hi');
                axios.get(`/like/${postId}`)
                    .then((result) => {
                        document.querySelectorAll('.likeCount')[index].innerHTML = result.data
                    }).catch((err) => {

                    });
                t1.to(e.target.nextElementSibling, {
                    y: '-200%',
                    rotate: 0,
                    duration: .4,
                    onComplete: function () {
                        gsap.set(this._targets[0], { y: '-0%', scale: 0, top: '50%', left: '50%' })
                    },
                })

            })

        })


        var containerWidth = document.querySelector('.scrollable').clientWidth
        var storyWidth = document.querySelector('.scrollable .item').clientWidth * 5
        function hideArrows(value) {
            console.log(value);
            document.querySelector('#leftArrow').style.display = (value == 0) ? 'none' : 'block'
            document.querySelector('#rightArrow').style.display = (value >= containerWidth) ? 'none' : 'block'
        }
        var move = 0;
        document.querySelector('#leftArrow').addEventListener('click', () => {
            move += storyWidth;
            gsap.to('.scrollable', {
                x: move,
                duration: .4,
            });
            hideArrows(move)
        })

        document.querySelector('#rightArrow').addEventListener('click', () => {
            move -= storyWidth;
            gsap.to('.scrollable', {
                x: move,
                duration: .4,
            });
            hideArrows(move)
        })

        const card = document.querySelectorAll('.card')
        document.querySelectorAll(".liked i").forEach((elem, index) => {
            elem.addEventListener('click', (e) => {
                e.target.classList.toggle('bxs-heart')
                const postId = card[index].id
                console.log(postId);
                axios.get(`/like-dislike/${postId}`)
                    .then((result) => {
                        card[index].querySelector('.likeCount').innerHTML = result.data
                    }).catch((err) => {

                    });
            })
        })

        window.onload = () => {
            hideArrows(0);
        }
    </script>
    <% include ./partials/footer2.ejs %>